
<div class="container-fluid mt-5">
	<div class="row justify-content-between">
		<div class="col-4">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contacts</a></li>
			</ul>
		</div>
	
		<div class="col-4">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contacts</a></li>
			</ul>
		</div>
		<div class="col-4">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contacts</a></li>
			</ul>
		</div>
		<div class="col-4">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contacts</a></li>
			</ul>
		</div>
	</div>						
</div>